/* google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    padding: 33px;
    width: 870px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 22px;
}
/* top players and blogers start */
.top-players{
    margin-bottom: 22px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    font-size: 18px;
    color: #000000;
    margin-left: 16px;
}
/* ------------------
        Top Blog Styles
--------------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .blog-info{
    margin-left: 16px;
    align-items: center;
}
.blog-info .blog-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.blog-info .blog-author{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
    margin: 0%;
}
.blog-info .blog-author a{
    text-decoration: none;
    color: #562EFF;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
/* Lates course */
.banner img{
    position:relative;
    width: 224px;
    height: 104px;
}
/* detail class start */
.detail-info{
    display: flex;
}
.detail .detail-title{
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;
}
.detail .author{
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
}
/* detail class end */
/* review-mark class start*/
.fa-star.filled{
    font-size: 12px;
    color: #FFC014;
}
.fa-star.empty{
    font-size: 12px;
    color: #AEAEAE;
}
.review-mark > p{
    color: #A2A2A2;
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 22px;
}
.time-duration{
    background: #FFE4E8;
    border-radius: 14.6913px;
    width: 94.83px;
    height: 29.38px;
}
.fa-clock.time{
    color: #FF4A60;
    padding-top: 7px;
    padding-left: 10px;
}
/* review-mark class end*/
